* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  margin: auto;
  width: 98% !important;
  max-width: 800px;
}

iframe.multiple {
  width: 220px;
  height: 100%;
  margin: 0;
  border: 0;
  padding: 0;
}
